@off-white: #eee;
@near-black: #333;
@gray: #555;
@red: #a33;

.fill(@padding: 0) {
	position:absolute;
	top: @padding;
	left: @padding;
	right: @padding;
	bottom: @padding;
	padding: 0;
	margin: 0;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid(@columns: 3, @aspect: 1.777, @padding: 0) {
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 0;
	display: block;

	>li {
		margin: 0;
		padding: 0;
		position: relative;
		display: inline-block;
		list-style: none;
		overflow: hidden;
		vertical-align: top;

		width: (100% - (@columns - 1) * @padding) / @columns;
		margin-right: @padding;
		margin-bottom: @padding;
		padding-bottom: (100% - (@columns - 1) * @padding) / @columns / @aspect;

		&:nth-child(@{columns}n) {
			margin-right: 0;
		}

		&:nth-last-child(-n + @{columns}) {
			margin-bottom: 0;
		}

		>a {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			>img {
				width: 100%;
			}
		}
	}
}